{% extends "nav/nav.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" id="css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        {% load static %}
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    <div class="flex-grow-1">
                        <div class="whiteoutline">
                            <div class="d-flex justify-content-around">
                                {% endblock content %}
                                {% block content2 %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        {% load static %}
                        <img src="{% static 'img/muka.png' %}" alt="Profile Pic" height="200" width="200">
                    </div>
                </div>
                <div class="col-5">
                    <div class="whiteoutline">
                        <div class="d-flex justify-content-center">
                            <h1>ABOUT ME</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-12">
                <div class="whiteoutline">
                    <div class="row-12">
                        <div class="d-flex justify-content-center">
                            <h1>BIG TEXT IN ORANGE</h1>
                        </div>
                    </div>
                    <div class="row-12">
                        <div class="d-flex justify-content-center">
                            <div class="flex-grow-1">
                                <div class="whitebackground">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-secondary"><</button>
                                        <div>
                                            {% load static %}
                                            <img src="{% static 'img/muka.png' %}" alt="Profile Pic" height="150" width="150">
                                            <div class="greybackground">
                                                <h5>lorem ipsum</h5>
                                            </div>
                                        </div>
                                        <div>
                                            {% load static %}
                                            <img src="{% static 'img/muka.png' %}" alt="Profile Pic" height="150" width="150">
                                            <div class="greybackground">
                                                <h5>lorem ipsum</h5>
                                            </div>
                                        </div>
                                        <div>
                                            {% load static %}
                                            <img src="{% static 'img/muka.png' %}" alt="Profile Pic" height="150" width="150">
                                            <div class="greybackground">
                                                <h5>lorem ipsum</h5>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary">></button>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-12">
                <div class="d-flex justify-content-center">
                    <div class="flex-grow-1">
                        <div class="whitebackground">
                            <div class="d-flex justify-content-around">
                                <p>lorem ipsum sit</p>
                                <p>lorem ipsum sit</p>
                                <button type="button" class="btn btn-secondary" id="tema">Ganti tema</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</body>
{% endblock content2 %}
