{% extends "nav/nav.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" id="css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        {% load static %}
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>

    <body>

        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-2">
                    <div class="row row-eq-height">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <div class="d-flex justify-content-center">
                                    {% load static %}
                                    <img src="{% static 'img/muka.png' %}" alt="Profile Pic" height="200" width="200">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <div class="d-flex justify-content-center">
                                    <div id="accordion">
                                        <h2>Activity</h2>
                                        <div>
                                            <p>Aktivitas terkini saya adalah begini dan begitu mengerjakan tugas 24/7</p>
                                        </div>
                                        <h2>Organizational Experience</h2>
                                        <div>
                                            <p>Sayangnya saya belum berorganisasi :(</p>
                                        </div>
                                        <h2>Achievements</h2>
                                        <div>
                                            <p>Nothing to see</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row row-eq-height">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <div class="d-flex justify-content-around">
                                    {% endblock content %}
                                    {% block content2 %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <h2>Curriculum Vitae</h2>
                                <div id="accordion2">
                                    <h2>Education</h2>
                                    <div>
                                        <p>Aktivitas terkini saya adalah begini dan begitu mengerjakan tugas 24/7</p>
                                    </div>
                                    <h2>Working Experience</h2>
                                    <div>
                                        <p>Sayangnya saya belum berorganisasi :(</p>
                                    </div>
                                    <h2>Current Projects</h2>
                                    <div>
                                        <p>Nothing to see</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <div class="d-flex justify-content-center">
                                    <h1>WEB PROTOTYPE</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <h2>Projects</h2>
                                <video width="320" height="240" controls></video>
                                <br>
                                {% load static %}
                                <img src="{% static 'img/temp.png' %}" alt="temp0" height="42" width="42">
                                {% load static %}
                                <img src="{% static 'img/temp.png' %}" alt="temp1" height="42" width="42">
                                {% load static %}
                                <img src="{% static 'img/temp.png' %}" alt="temp2" height="42" width="42">
                                {% load static %}
                                <img src="{% static 'img/temp.png' %}" alt="temp3" height="42" width="42">
                                <div id="accordion3">
                                    <h2>Pilihan1</h2>
                                    <div>
                                        <p>Aktivitas terkini saya adalah begini dan begitu mengerjakan tugas 24/7</p>
                                    </div>
                                    <h2>Pili</h2>
                                    <div>
                                        <p>Sayangnya saya belum berorganisasi :(</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-no-gutters">
                <div class="flex-grow-1">
                    <div class="whitebackground">
                        <div class="d-flex justify-content-around">
                            <p>lorem ipsum</p>
                            <p>lorem ipsum</p>
                            <button type="button" class="btn btn-secondary" id="tema">Ganti tema</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
{% endblock content2 %}
