{% extends "nav/nav.html" %}
{% block content %}
<!DOCTYPE html>
<html>
        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}" id="css">
            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
            {% load static %}
            <script src="{% static 'js/scripts.js' %}"></script>
        </head>
        
        <body>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="whiteoutline">
                            <div class="d-flex justify-content-around">
                                {% endblock content %}
                                {% block content2 %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="whiteoutline">
                            <div class="d-flex justify-content-center">
                                <h1>JADWAL</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="whiteoutline">
                            <h2>TAMBAH JADWAL</h2>

                            <form action="." method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br>
                                <input type="submit" value ="Submit">
                            </form>
                            <form action="." method="post">
                                {% csrf_token %}
                                <input type="submit" value ="Delete" name="deletbut">
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="whiteoutline">
                            <p class="jadwal">
                                <pre>{{ txt }}</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="flex-grow-1">
                        <div class="whitebackground">
                            <div class="d-flex justify-content-around">
                                <p>lorem ipsum</p>
                                <p>lorem ipsum</p>
                                <button type="button" class="btn btn-secondary" id="tema">Ganti tema</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </body>




    </html>
{% endblock content2 %}
