{% extends "nav/nav.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" id="css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        {% load static %}
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        <div class="d-flex justify-content-center">
            <div class="col-4">
                <div class="row">
                    <div class="flex-grow-1">
                    <div class="whiteoutline">
                        <div class="d-flex justify-content-around">
                            {% endblock content %}
                            {% block content2 %}
                        </div>
                    </div>
                </div>
                </div>
                    <div class="row">
                        <div class="flex-grow-1">
                            <div class="whiteoutline">
                                <div class="container">
                                    <div class="row main">
                                    <div class="main-login main-center">
                                    <h5>Sign Up</h5>
                                        <form class="" method="post" action="#">

                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="birthdate" class="cols-sm-2 control-label">Birth Date</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="date" class="form-control" name="bday" id="bday"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="username" class="cols-sm-2 control-label">Username</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="password" class="cols-sm-2 control-label">Password</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                        <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <a target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock content2 %}
