body {
    background-color: white;
    height: 100%;
}
h1 {
    color: rgb(225, 144, 82);
}
h2 {
    color: rgb(225, 144, 82);
}
.whitebackground {
    background-color: rgba(255, 255, 255, 0.7);
    border-width: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    margin: 1%;
    padding: 1%;
}
.whiteoutline {
    border-width: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    margin: 1%;
    padding: 1%;
}

.greybackground {
    background-color: rgba(98, 98, 98);
    margin: 1%;
    padding: 1%;
}

.row {
    width: 100%;
    margin: auto;
}
.col {
    width: 100%;
    margin: auto;
}

.form-group {
    color: orange;
}
.btn {
    color: orange;
}

h5 {
    color: orange;
}
.jadwal {
    background-color: rgb(225, 144, 82);
}
