{% block content %}
{% endblock content %}
<a href="{% url 'main' %}" class="btn btn-secondary">HOME</a>
<a href="{% url 'jadwal' %}" class="btn btn-secondary">JADWAL</a>
<a href="{% url 'about' %}" class="btn btn-secondary">ABOUT</a>
<a href="{% url 'register' %}" class="btn btn-secondary">REGISTER</a>
{% block content2 %}
{% endblock content2 %}
